* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d9d9da;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header h2 {
  font-size: 1.25rem;
}
.card-body h3 {
  font-size: 1rem;
}
.card-body p {
  font-size: 0.95rem;
}
.items {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 3px rgba(48, 48, 48, 0.2);
}
.item {
  text-align: center;
}
.item img {
  width: 90px;
  height: 90px;
  filter: drop-shadow(3px 2px 3px rgba(20, 20, 20, 0.2));
  cursor: pointer;
}
.item P {
  font-weight: bold;
  font-size: 0.933rem;
}
.process {
  box-shadow: 5px 5px 3px rgba(48, 48, 48, 0.2);
}
.progress {
  width: 100%;
  height: 15px;
  background: #e5e8ec;
}
.progress-bar {
  width: 0%;
  height: 100%;
  background: #2f73ff;
  transition: 0.4s ease-in-out;
}
